.boxt >div {
  margin-bottom: 15px;
}
.boxt {
  background: #fafafa;
  padding: 15px 25px;
  border-radius: 12px;
  box-shadow: 0px 0px 3px 3px #e5e5e5;
}
.formbox{
  margin: 0px auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnt {
  text-align: center;
}
h4.head {
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin: 0px;
  padding: 15px 0px;
}
.opselect{
  width: 100%;
}
.tablebg{
  background-color: #e5e5e5;
}
.tablebg thead{
  background-color: #cfcfcf !important;

}
.tablebg tbody{
  background-color: #e2e2e2;

}
.t-red{
  color: red;
}